@using Bdziam.UI.Model.Enums
@using Bdziam.UI.Utilities
@inherits BDrawerMenuItemBase
@namespace Bdziam.UI

<div id="@Id" class="menu-item transition-all relative flex items-center gap-4 px-4 py-4 cursor-pointer @StyleUtility.GetRadiusClass(BorderRadius.Pill) @Class"
     style="@MenuItemStyles"
     @onclick="HandleClick">
    <BPillRipple @bind-IsActive="@IsActive" MaterialColor="MaterialColor.Secondary" Behind="true"></BPillRipple>
    @if (Icon != null)
    {
        <Blazicon Svg="Icon" Attributes="IconAttributes"/>
    }
    <BText Typo="Typo.LabelMedium" Style="font-weight: bold" Color="@(IsActive ? MaterialColor.Secondary : MaterialColor.SurfaceVariant)">@Text</BText>
    @if (BadgeText != null)
    {
        <div class="badge flex items-center justify-center rounded-full px-2 text-xs" style="background-color: var(--md-sys-color-secondary); color: var(--md-sys-color-on-secondary);">
            @BadgeText
        </div>
    }
    @if (HasChildren)
    {
        <div style="position: absolute; right: 15px;">
            <Blazicon Svg="GoogleMaterialFilledIcon.ChevronRight" Attributes="ArrowIconAttributes"/>
        </div>
    }
</div>

<div style="@ChildContentStyle">
    <BStack Id="@ChildContainerId" Orientation="Orientation.Vertical" Spacing="Size.Medium">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </BStack>
</div>