@namespace Bdziam.UI
@using Bdziam.UI.Model.Enums
@using Bdziam.UI.Utilities
@inherits Bdziam.UI.Components.CommonBase.BInputBase<bool>

<BTooltip TooltipText="@Label">
    <div @onclick="ToggleSwitch" style="position: relative; display: inline-flex; align-items: center; cursor: pointer;" class="@Class" id="@Id">
        <!-- Track -->
        <div style="@TrackStyles">
            <!-- Thumb -->
            <div style="@ThumbStyles">
                @if (Value && Icon != null)
                {
                    <BIcon Icon="Icon" Size="Size.Small" Color="MaterialColor.Primary"/>
                }
            </div>
        </div>
        @if (Required)
        {
            <BText Typo="Typo.Caption" Color="MaterialColor.OnErrorContainer">@RequiredError</BText>
        }
    </div>
</BTooltip>


