@using Bdziam.UI.Model.Enums
@using Bdziam.UI.Utilities
@namespace Bdziam.UI
@inherits Bdziam.UI.Components.CommonBase.BComponentBase

<div class="menu-item @StyleUtility.GetRadiusClass(BorderRadius.Pill) @Class" @onclick="HandleClick" style="@MenuItemStyles">
   <BPillRipple @bind-IsActive="IsActive"></BPillRipple>
    @if (Icon != null)
    {
        <Blazicon Svg="Icon" Attributes="IconAttributes" />
    }
    <BText Typo="Typo.Body" Style="font-weight: bold" Color="ColorVariant.Secondary">@Text</BText>
    @if (HasChildren)
    {
        <Blazicon Svg="BootstrapIcon.ArrowRight" Attributes="ArrowIconAttributes" />
    }
</div>
@if (IsExpanded && HasChildren)
{
    <div class="menu-children">
        <BText Typo="Typo.Body" Style="font-weight: bold" Color="ColorVariant.Secondary">@Text</BText>
    </div>
}