@using Bdziam.UI.Model.Enums
@using Bdziam.UI.Utilities
@namespace Bdziam.UI
@inherits BDrawerMenuItemBase

<div id="@Id" class="menu-item @StyleUtility.GetRadiusClass(BorderRadius.Pill) @Class"
     @onclick="HandleClick"
     style="@MenuItemStyles">
    <BPillRipple @bind-IsActive="IsActive" BackgroundColor="var(--color-secondary)" />
    @if (Icon != null)
    {
    <Blazicon Svg="Icon" Attributes="IconAttributes" />
    }
    <BText Typo="Typo.Body" Style="font-weight: bold" Color="ColorVariant.Secondary">@Text</BText>
    @if (HasChildren)
    {
    <Blazicon Svg="BootstrapIcon.ArrowRight" Attributes="ArrowIconAttributes" />
    }
</div>
@if (IsExpanded && HasChildren)
{
<BStack Orientation="Orientation.Vertical" Spacing="Size.Medium">
    @ChildContent
</BStack>
}
