@namespace Bdziam.UI
@inherits Bdziam.UI.Components.CommonBase.BComponentBase
<div class="@MenuContainerClasses">
    <button id="@Id" class="@MenuButtonClasses" @onclick="ToggleMenu">
        @MenuButtonLabel
    </button>

    <BPopover IsOpen="@IsOpen" IsOpenChanged="@IsOpenChanged" TargetElementId="@Id">
        <div class="grid grid-cols-4 gap-4 p-4 bg-surface">
            @MenuItems
        </div>
    </BPopover>
</div>