@namespace Bdziam.UI
@using Bdziam.UI.Model.Enums
@using global::Bdziam.UI.Model.Utility
@inherits BButtonBase

<button id="@ButtonId" class="@ButtonClasses" style="@ButtonStyles" @onclick="HandleClick" disabled="@Disabled">
        @if (StartIcon != null)
        {
                <Blazicon Svg="@StartIcon" Attributes="SizeUtility.GetIconSizeAttributes(Size)"/>
        }
        @ChildContent
        @if (EndIcon != null)
        {
                <Blazicon Svg="@EndIcon" Attributes="SizeUtility.GetIconSizeAttributes(Size)"/>
        }
</button>
