@namespace Bdziam.UI
@using Bdziam.UI.Model.Enums
@using global::Bdziam.UI.Model.Utility
@inherits BButtonBase
<button id="@Id" class="@ButtonClasses" style="@ButtonStyles" @onclick="HandleClick" disabled="@Disabled">
    <BRipple @ref="Ripple" />

    @if (StartIcon != null)
    {
        <Blazicon Svg="@StartIcon" Attributes="SizeUtility.GetIconSizeAttributes(Size)"/>
    }
    @ChildContent
    @if (EndIcon != null)
    {
        <Blazicon Svg="@EndIcon" Attributes="SizeUtility.GetIconSizeAttributes(Size)"/>
    }
</button>
