@namespace Bdziam.UI
@using Bdziam.UI.Model.Utility
@using Bdziam.UI.Utilities
@inherits BIconButtonBase
<button id="@Id" class="@ButtonClasses" style="@ButtonStyles" @onclick="HandleClick" disabled="@Disabled">
    <BRipple @ref="Ripple" />
    <BIcon Icon="@Icon" Size="IconSize" Color="ColorUtility.GetTextColor(Color)" />
</button>
