@namespace Bdziam.UI
@inherits BButtonBase
<button id="@Id" class="@ButtonClasses" style="@ButtonStyles" @onclick="ToggleState" disabled="@Disabled">
    <BRipple @ref="Ripple" />
    @if (StartIcon != null)
    {
        <Blazicon Svg="@StartIcon"/>
    }
    @ChildContent
    @if (EndIcon != null)
    {
        <Blazicon Svg="@EndIcon"/>
    }
</button>

