@namespace Bdziam.UI
@using Bdziam.UI.Model.Utility
@inherits BButtonBase

<button id="@Id" class="@ButtonClasses" style="@ButtonStyles" @onclick="ToggleState" disabled="@Disabled">
        <BRipple @ref="Ripple" />
        <Blazicon Svg="@Icon" Attributes="SizeUtility.GetIconSizeAttributes(Size)"/>
</button>
