@using Bdziam.UI.Model.Enums
@using Bdziam.UI.Utilities
@namespace Bdziam.UI
@inherits Bdziam.UI.Components.CommonBase.BComponentBase
<div>
    <div id="@TooltipTargetId" @onmouseover="ShowTooltip" @onmouseout="HideTooltip" style="display: inline-block;">
        @ChildContent
    </div>

    <BPopover TargetElementId="@TooltipTargetId" IsOpen="@IsTooltipVisible" Position="@Position" MarginSize="Size.Small">
        <BText Typo="Typo.LabelSmall">@TooltipText</BText>
    </BPopover>
</div>

